<form action="/update/<%= item.id %>" method="post">
    <input type="text" name="itemTitle" value="<%= item.title %>">
    <input type="text" name="itemText" value="<%= item.text %>">
    <input type="submit" value="更新する">
</form>