<% items.forEach((item) => { %>
    <li>
      <div>
        <span><%= item.title %></span>
        <span><%= item.text %></span>
      </div>
    </li>
    <form action="/delete/<%= item.id %>" method="post">
      <input type="submit" value="削除">
    </form>
    <a href="/edit/<%= item.id %>">編集</a>
<% }) %>